p{
    font-family: Roboto, arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
body{
    margin: 0;
    padding-top: 80px;
    margin-bottom: 500px;
    padding-left: 110px;
    background-color: rgb(244, 242, 242);
}