.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 80px;
    background-color: white;
    z-index: 200;
    padding-top : 5px;
}
.sidebar-link{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(231, 229, 229);
}
.sidebar-link img{
    height: 27px;
    margin-bottom: 5px;
}
.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
}